version: '3.9'

services:
  web:
    container_name: web
    build:
      context: .
      dockerfile: apps/web/Dockerfile
      target: prod
    ports:
      - "3000:3000"
    env_file:
      - apps/web/.env.production
    depends_on:
      - server
    networks:
      - app_network

  server:
    container_name: server
    build:
      context: .
      dockerfile: apps/server/Dockerfile
      target: prod
    ports:
      - "3001:3001"
    env_file:
      - apps/server/.env.production
    networks:
      - app_network

  redis:
    container_name: redis
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/var/data
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  redis_data:
    driver: local
