services:
  web:
    container_name: web
    build:
      context: .
      dockerfile: apps/web/Dockerfile.dev
    ports:
      - "3000:3000"
    env_file:
      - apps/web/.env.local
    volumes:
      - ./apps/web:/app/apps/web
      - ./apps/server:/app/apps/server
      - ./packages:/app/packages
      - ./turbo.json:/app/turbo.json
      - ./package.json:/app/package.json
      - ./pnpm-workspace.yaml:/app/pnpm-workspace.yaml
    depends_on:
      - server
    networks:
      - app_network
    command: pnpm --filter web dev

  server:
    container_name: server
    build:
      context: .
      dockerfile: apps/server/Dockerfile.dev
    ports:
      - "3001:3001"
    env_file:
      - apps/server/.env
    volumes:
      - ./apps/server:/app/apps/server
      - ./apps/web:/app/apps/web
      - ./packages:/app/packages
      - ./turbo.json:/app/turbo.json
      - ./package.json:/app/package.json
      - ./pnpm-workspace.yaml:/app/pnpm-workspace.yaml
    depends_on:
      - redis
      - mongo
    networks:
      - app_network
    command: pnpm --filter server dev

  redis:
    container_name: redis
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/var/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - app_network

  mongo:
    container_name: mongo
    image: mongo:latest
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo_data:/data/db
    networks:
      - app_network
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 5s
      timeout: 5s
      retries: 5

networks:
  app_network:
    driver: bridge

volumes:
  redis_data:
    driver: local
  mongo_data:
    driver: local
