services:
  web:
    container_name: web
    build:
      context: .
      dockerfile: apps/web/Dockerfile
      target: prod
    ports:
      - "3000:3000"
    env_file:
      - apps/web/.env.production.local
    depends_on:
      - server
    networks:
      - app_network

  server:
    container_name: server
    build:
      context: .
      dockerfile: apps/server/Dockerfile
      target: prod
    ports:
      - "3001:3001"
    env_file:
      - apps/server/.env.production
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
